@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whole {
    display: flex;
}


.sidebar {
    background-color: rgb(158, 156, 156);
    font-family: "Fira Sans", serif;
    width: 300px;
    height: 100vh;
}

.sidebar nav {
    padding: 42px;
    height: 100vh;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    font-size: 22px;
    padding: 23px 0;
    padding-left: 30px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
}

.sidebar nav ul li a.active {
    color: white;
}














.skillsMain {
    font-family: "Fira Sans", serif;
    width: 90%;
    background-color: #000022;
}
.skillsMain h1 {
    font-family: "Source Code Pro", serif;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 35px;
    text-transform: uppercase;
}


.skill{
    width: 23px;
    height: 23px;
    background-color: red;
}